doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title details element
  body
    details
      summary ジャンプ
      ul
        li トーループ
        li サルコウ
        li ループ
        li フリップ
        li ルッツ
        li アクセル
    details(open)
      summary スピン
      details
        summary アップライトスピン
        ul
          li A字
          li ショットガン
      details
        summary シットスピン
        ul
          li キャノンボール
          li パンケーキ
      details
        summary キャメルスピン
        ul
          li ドーナツ
          li ウィンドミル
