doctype html
html
  head
    title Demo - Element.insertAdjacentHTML
  body
    script.
      document.head.insertAdjacentHTML('beforeend', '\u003Cscript src="head.js"\u003E\u003C/script\u003E');
      document.body.insertAdjacentHTML('beforeend', '\u003Cscript src="body.js"\u003E\u003C/script\u003E');
