doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title dialog element
    style.
      dialog {
        border: 0;
        border-radius: 10px;
        background: rgba(100%, 100%, 100%, 0.9);
        box-shadow: 0 0 5px rgba(0%, 0%, 0%, 0.25);
      }
      dialog::backdrop {
        background: rgba(0%, 25%, 0%, 0.25);
      }

  body
    h1 dialog element

    dialog#dialog
      p こんにちは！

      ul
        li Alpha
        li Beta
        li Gamma

      div
        button#closeButton close

    div
      button#showButton show
      button#showModalButton shoModal

    script.
      var dialog = document.getElementById('dialog');
      var showButton = document.getElementById('showButton');
      var showModalButton = document.getElementById('showModalButton');
      var closeButton = document.getElementById('closeButton');

      showButton.addEventListener('click', function() {
        dialog.show();
      });

      showModalButton.addEventListener('click', function() {
        dialog.showModal();
      });

      closeButton.addEventListener('click', function() {
        dialog.close();
      });
